playbooks/Confirm-AADBlockUser/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
		"UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string",
			"metadata": {
				"description": "Username to authorize API connections"
			}
        },
		"Email": {
            "defaultValue": "<username>@<domain>",
            "type": "string",
			"metadata": {
				"description": "SOC email address"
			}
        }
	},
    "variables": {
		"Office365ConnectionName": "office365-Confirm-AADBlockUser",
		"AzureADConnectionName": "azuread-Confirm-AADBlockUser",
		"AzureSentinelConnectionName": "azuresentinel-Confirm-AADBlockUser"
	},
    "resources": [
		{
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('Office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
		{
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureADConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuread')]"
                }
            }
        },
		{
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "Confirm-AADBlockUser",
            "location": "westeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Alert_-_Get_accounts": {
                            "runAfter": {
                                "Initialize_variable_-_SOC_email_address": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['Entities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/account"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Alert_-_Get_accounts')?['Accounts']",
                            "actions": {
                                "Create_HTML_table_-_Account": {
                                    "runAfter": {},
                                    "type": "Table",
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@array(items('For_each'))"
                                    }
                                },
                                "Send_email_with_options": {
                                    "runAfter": {
                                        "Create_HTML_table_-_Account": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnectionWebhook",
                                    "inputs": {
                                        "body": {
                                            "Message": {
                                                "Body": "<p><span style=\\\"font-size: 14px\\\"><strong>New Azure Sentinel alert<br></strong></span><span style=\\\"font-size: 14px\\\"><br></span><span style=\\\"font-size: 12px\\\"><strong>Alert display name: </strong></span><span style=\\\"font-size: 12px\\\">&nbsp;</span><span style=\\\"font-size: 12px\\\">@{triggerBody()?['AlertDisplayName']}</span><span style=\\\"font-size: 12px\\\"><br></span><span style=\\\"font-size: 12px\\\"><strong>Alert provider: </strong></span><span style=\\\"font-size: 12px\\\"></span><span style=\\\"font-size: 12px\\\">@{triggerBody()?['ProductName']}</span><span style=\\\"font-size: 12px\\\"><br></span><span style=\\\"font-size: 12px\\\">@{triggerBody()?['Description']}<br><br><span style=\\\"font-size: 14px\\\">The following account was found in the alert:<br></span>@{body('Create_HTML_table_-_Account')}<span style=\\\"font-size: 14px\\\"></span>",
                                                "HideHTMLMessage": false,
                                                "Importance": "High",
                                                "Options": "Block Account, Unblock Account, Ignore",
                                                "SelectionText": "<span style=\\\"font-size: 14px\\\"><strong>Should this account be blocked in Azure AD?</strong></span>",
                                                "ShowHTMLConfirmationDialog": false,
                                                "Subject": "Respond to compromised user in Azure Sentinel alert",
                                                "To": "@variables('SocEmailAddress')",
                                                "UseOnlyHTMLMessage": true
                                            },
                                            "NotificationUrl": "@{listCallbackUrl()}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "path": "/mailwithoptions/$subscriptions"
                                    }
                                },
                                "Switch": {
                                    "runAfter": {
                                        "Send_email_with_options": [
                                            "Succeeded"
                                        ]
                                    },
                                    "cases": {
                                        "Case_-_Block_Account": {
                                            "case": "Block Account",
                                            "actions": {
                                                "Add_comment_to_incident_(V2)": {
                                                    "runAfter": {
                                                        "Update_user": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Value": "The user @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])} confirmed as compromised and blocked in Azure AD."
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                                                    }
                                                },
                                                "Update_user": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "accountEnabled": false
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuread']['connectionId']"
                                                            }
                                                        },
                                                        "method": "patch",
                                                        "path": "/v1.0/users/@{encodeURIComponent(concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix']))}"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_-_Unblock_Account": {
                                            "case": "Unblock Account",
                                            "actions": {
                                                "Add_comment_to_incident_(V2)_2": {
                                                    "runAfter": {
                                                        "Update_user_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Value": "The user @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])} confirmed as not compromised and unlocked in Azure AD."
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                                                    }
                                                },
                                                "Update_user_2": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "accountEnabled": true
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuread']['connectionId']"
                                                            }
                                                        },
                                                        "method": "patch",
                                                        "path": "/v1.0/users/@{encodeURIComponent(concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix']))}"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {}
                                    },
                                    "expression": "@body('Send_email_with_options')?['SelectedOption']",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Alert_-_Get_accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "description": "This loop iterates over all entities of type Account found in this alert"
                        },
                        "Initialize_variable_-_SOC_email_address": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SocEmailAddress",
                                        "type": "string",
                                        "value": "[parameters('Email')]"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuread": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "azuread-Block-AADUser",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuread')]"
                            },
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "azuresentinel",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "teamsIdentityProtection-EmailResponse",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}	
