playbooks/Enforce-MFA.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Alert_-_Get_accounts": {
                "inputs": {
                    "body": "@triggerBody()?['Entities']",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/entities/account"
                },
                "runAfter": {
                    "Alert_-_Get_incident": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Alert_-_Get_incident": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Add_user_to_group": {
                        "inputs": {
                            "body": {
                                "@@odata.id": "@body('Parse_JSON')?['id']"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuread']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v1.0/groups/@{encodeURIComponent('f9e3a69d-99ed-4cbc-a80c-9c8fddeecb0c')}/members/$ref"
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "method": "GET",
                            "uri": "https://graph.microsoft.com/beta/users/@{concat(items('For_each')?['Name'], '@', items('For_each')?['UPNSuffix'])}"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "Parse_JSON": {
                        "inputs": {
                            "content": "@body('HTTP')",
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "HTTP": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    }
                },
                "foreach": "@body('Alert_-_Get_accounts')?['Accounts']",
                "runAfter": {
                    "Alert_-_Get_accounts": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                        }
                    },
                    "path": "/subscribe"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuread": {
                    "connectionId": "/subscriptions/38127362-bd12-44dc-aa71-42fd33c1c956/resourceGroups/sentinel/providers/Microsoft.Web/connections/azuread-Block-AADUser",
                    "connectionName": "azuread-Block-AADUser",
                    "id": "/subscriptions/38127362-bd12-44dc-aa71-42fd33c1c956/providers/Microsoft.Web/locations/westeurope/managedApis/azuread"
                },
                "azuresentinel_1": {
                    "connectionId": "/subscriptions/38127362-bd12-44dc-aa71-42fd33c1c956/resourceGroups/sentinel/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "id": "/subscriptions/38127362-bd12-44dc-aa71-42fd33c1c956/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                }
            }
        }
    }
}
